body{
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}
.container{
    background-color: white;
    width: 350px;
    margin: 50px;
    padding: 25px;
    border-radius: 10px;
    box-shadow:0px 0px 10px gray;
}
input{
    width:90%;
    padding:8px;
    margin:8px;
}
button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
button.hover{
    background:darkblue;
    align-items: center;
}
.result{
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
}
